.prompt-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 10px;
  background:  var(--prompt-bg);
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.prompt-input {
  flex: 1;
  min-height: 45px;
  max-height: 150px; 
  overflow-y: auto; 
  resize: none; 
  padding: 12px 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color:  var(--prompt-bg);
  color: var(--text-color);
  border-radius: 25px;
  line-height: 1.4;
  align-items: center;
    justify-content: center;
     
 
}


.prompt-input::-webkit-scrollbar {
  width: 6px;
}

.prompt-input::-webkit-scrollbar-track {
  background: var(--prompt-bg);
  border-radius: 10px;
}

.prompt-input::-webkit-scrollbar-thumb {
  background: #babac0;
  border-radius: 10px;
}

.prompt-input::-webkit-scrollbar-thumb:hover {
  background: #a0a0a5;
}

.send-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--btn-send);
  transition: 0.3s;
}
