.header {
    display: flex;
    align-items:flex-start;
    background-color: var(--bg-color) !important;
    border-bottom: 1px solid var(--border-color);;
    height: 10vh;
    width: 100%;
    z-index: 900;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  }
  
  .new-chat-btn {
    display: flex;
    background: none;
    border: none;
    color:var(--icon-color) !important;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .sidebar-toggle {
    display: flex;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color:var(--icon-color) !important;
  }
  .sidebar-toggle.open {
    margin-left: 10px;
  }
