.chat {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Occupe toute la hauteur de l'écran */
    padding: 20px;
    background-color: #f8f9fa;
    align-items: center;
    justify-content: center; 

  }

  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 80px; /* Laisse de l'espace pour l'input */
  }
/* Dans Chat.css */
.landing-page {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.landing-page.hidden {
  opacity: 0;
  pointer-events: none;
}

.chat-messages {
  transition: margin-top 0.3s ease-in-out;
}